In [5]:
import numpy as np
import pandas as pd
import random

def generate_random_meters(num_meters):
    exit_zones = ["EA1", "EA2", "EA3", "EA4", "EM1", "EM2", "EM3", "EM4",
                  "LC", "LO", "LS", "LT", "LW"]

    meters = []
    for _ in range(num_meters):
        meter_id = random.randint(10000000, 99999999)
        aq_kwh = random.randint(10000, 999999)
        exit_zone = random.choice(exit_zones)

        meters.append([meter_id, aq_kwh, exit_zone])

    columns = ["meter_id", "aq_kwh", "exit_zone"]
    df = pd.DataFrame(meters, columns=columns)
    return df

In [9]:
# Example: Generate a list of random meters
random_meters = generate_random_meters(5)
print(random_meters)

   meter_id  aq_kwh exit_zone
0  63146821  667375       EA4
1  99341138  150591       EM1
2  40662822  762650        LO
3  49370581  617526       EA1
4  46116974  487984       EM2

In [10]:
import pandas as pd
import numpy as np
from datetime import timedelta

def generate_mock_consumption_data(meter_list, start_date, duration_days):
    # Sort meter_list by meter_id in ascending order
    meter_list.sort_values('meter_id', inplace=True)

    # Initialize an empty list to store individual meter dataframes
    meter_dfs = []

    for index, row in meter_list.iterrows():
        meter_id = row['meter_id']
        aq_kwh = row['aq_kwh']
        exit_zone = row['exit_zone']

        # Generate random consumption data
        dates = pd.date_range(start_date, periods=duration_days, freq='D')
        consumption_data = np.random.rand(duration_days) * aq_kwh

        # Create a dataframe for the current meter
        meter_df = pd.DataFrame({
            'meter_id': [meter_id] * duration_days,
            'date': dates,
            'kwh': consumption_data
        })

        # Append the dataframe to the list
        meter_dfs.append(meter_df)

    # Concatenate all individual meter dataframes into a single dataframe
    result_df = pd.concat(meter_dfs, ignore_index=True)

    return result_df

In [13]:
start_date_example = '2020-06-01'
duration_days_example = 10

mock_consumption_data = generate_mock_consumption_data(random_meters, start_date_example, duration_days_example)
mock_consumption_data.head()

   meter_id       date            kwh
0  40662822 2020-06-01  199304.813984
1  40662822 2020-06-02  100989.041212
2  40662822 2020-06-03  263020.533531
3  40662822 2020-06-04   35068.747527
4  40662822 2020-06-05   87781.568878