In [2]:
import numpy as np
import pandas as pd
import random

def generate_random_meters(num_meters):
    exit_zones = ["EA1", "EA2", "EA3", "EA4", "EM1", "EM2", "EM3", "EM4", "LC", "LO", "LS", "LT", "LW"]

    meters = []
    for _ in range(num_meters):
        meter_id = random.randint(10000000, 99999999)
        aq_kwh = random.randint(10000, 999999)
        exit_zone = random.choice(exit_zones)
        meters.append([meter_id, aq_kwh, exit_zone])

    columns = ["meter_id", "aq_kwh", "exit_zone"]
    df = pd.DataFrame(meters, columns=columns)
    return df

In [4]:
# Example: Generate a list of random meters
random_meters = generate_random_meters(5)
random_meters.head()

   meter_id  aq_kwh exit_zone
0  63695999  531072       EA3
1  68430773  922280       EA1
2  36542789  587034       EA1
3  35744154  595898       EA1
4  63905052  783696        LS

In [5]:
from datetime import timedelta

def generate_mock_consumption_data(meter_list, start_date, duration_days):
    # Sort meter_list by meter_id in ascending order
    meter_list.sort_values('meter_id', inplace=True)

    # Initialize an empty list to store individual meter dataframes
    meter_dfs = []

    for index, row in meter_list.iterrows():
        meter_id = row['meter_id']
        aq_kwh = row['aq_kwh']
        exit_zone = row['exit_zone']

        # Generate random consumption data
        dates = pd.date_range(start_date, periods=duration_days, freq='D')
        consumption_data = np.random.rand(duration_days) * aq_kwh

        # Create a dataframe for the current meter
        meter_df = pd.DataFrame({
            'meter_id': [meter_id] * duration_days,
            'date': dates,
            'kwh': consumption_data
        })

        # Append the dataframe to the list
        meter_dfs.append(meter_df)

    # Concatenate all individual meter dataframes into a single dataframe
    result_df = pd.concat(meter_dfs, ignore_index=True)

    return result_df

In [6]:
start_date_example = '2020-06-01'
duration_days_example = 10

mock_consumption_data = generate_mock_consumption_data(random_meters, start_date_example, duration_days_example)
mock_consumption_data.head()

   meter_id       date            kwh
0  35744154 2020-06-01  126991.844363
1  35744154 2020-06-02   23568.708243
2  35744154 2020-06-03  553089.203376
3  35744154 2020-06-04   78673.548122
4  35744154 2020-06-05   51969.696036