In [2]:
import numpy as np
import pandas as pd
import random

def generate_random_meters(num_meters):
    exit_zones = ["EA1", "EA2", "EA3", "EA4", "EM1", "EM2", "EM3", "EM4", "LC", "LO", "LS", "LT", "LW"]

    meters = []
    for _ in range(num_meters):
        meter_id = random.randint(10000000, 99999999)
        aq_kwh = random.randint(10000, 999999)
        exit_zone = random.choice(exit_zones)
        meters.append([meter_id, aq_kwh, exit_zone])

    columns = ["meter_id", "aq_kwh", "exit_zone"]
    df = pd.DataFrame(meters, columns=columns)
    return df

In [4]:
# Example: Generate a list of random meters
random_meters = generate_random_meters(5)
random_meters.head()

   meter_id  aq_kwh exit_zone
0  63695999  531072       EA3
1  68430773  922280       EA1
2  36542789  587034       EA1
3  35744154  595898       EA1
4  63905052  783696        LS

In [12]:
from datetime import timedelta

def generate_mock_consumption_data(meter_list, start_date, duration_days):
    meter_list.sort_values('meter_id', inplace=True)

    # Initialize an empty list to store individual meter dataframes
    meter_dfs = []

    for index, row in meter_list.iterrows():
        meter_id = row['meter_id']
        aq_kwh = row['aq_kwh']
        exit_zone = row['exit_zone']

        # Generate random consumption data
        dates = pd.date_range(start_date, periods=duration_days, freq='D')
        consumption_data = np.random.uniform(0, 200, duration_days)

        # Create a dataframe for the current meter
        meter_df = pd.DataFrame({
            'meter_id': [meter_id] * duration_days,
            'date': dates,
            'kwh': consumption_data
        })

        # Append the dataframe to the list
        meter_dfs.append(meter_df)

    # Concatenate all individual meter dataframes into a single dataframe
    result_df = pd.concat(meter_dfs, ignore_index=True)

    return result_df

In [16]:
start_date_example = '2020-06-01'
duration_days_example = 10

mock_consumption_data = generate_mock_consumption_data(random_meters, start_date_example, duration_days_example)
mock_consumption_data.head(10)

   meter_id       date         kwh
0  35744154 2020-06-01   97.267033
1  35744154 2020-06-02   11.457008
2  35744154 2020-06-03  181.495205
3  35744154 2020-06-04  127.822379
4  35744154 2020-06-05  184.278316
5  35744154 2020-06-06   97.018759
6  35744154 2020-06-07  139.399615
7  35744154 2020-06-08  187.967523
8  35744154 2020-06-09  154.851902
9  35744154 2020-06-10  126.928260

In [19]:
%run Gorilla_BW_24_12.ipynb

meter_ids_list = random_meters['meter_id'].to_list()
df_results_random = get_results_for_multiple_ids(random_meters, meter_ids_list, mock_consumption_data, rate_data)
df_results_random.head()

The date from which on the rates are applicable is: 2020-04-01
The meter with ID 14676236 corresponds to this exit zone: EA1
The meter with ID 14676236 corresponds to this aq_kwh: 28978
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 14676236 corresponds to this exit zone: EA1
The meter with ID 14676236 corresponds to this aq_kwh: 28978
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 34509937 corresponds to this exit zone: SO1
The meter with ID 34509937 corresponds to this aq_kwh: 78324
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 50264822 corresponds to this exit zone: NT1
The meter with ID 50264822 corresponds to this aq_kwh: 265667
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 35744154 corresponds to this exit zone: EA1
The meter with ID 35744154 corresponds to this aq_kwh: 595898
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 36542789 corresponds to this exit zone: EA1
The meter with ID 36542789 corresponds to this aq_kwh: 587034
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 63695999 corresponds to this exit zone: EA3
The meter with ID 63695999 corresponds to this aq_kwh: 531072
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 63905052 corresponds to this exit zone: LS
The meter with ID 63905052 corresponds to this aq_kwh: 783696
The date from which on the rates are applicable is: 2020-04-01
The meter with ID 68430773 corresponds to this exit zone: EA1
The meter with ID 68430773 corresponds to this aq_kwh: 922280

   meter_id    total_kwh  total_charge_pounds
0  35744154  1308.485999                 2.58
1  36542789  1096.780059                 2.16
2  63695999   890.154262                 2.08
3  63905052  1055.979116                 2.37
4  68430773   882.714163                 2.53